<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="5" size-lg="4" size-xs="10">

        <div text-center>
          <h2>Sobre</h2>
        </div>
        <div>
          <ion-item>
            Esse é um jogo desenvolvido pelas alunas Daniella e Heloísa do curso normal para a matéria de Didática das
            ciências naturais, para que crianças tenham o abrangente conhecimento de toda a fauna amazônica de uma forma
            lúdica e interativa.
          </ion-item>
        </div>
        <ion-list class="borderc">
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="../../assets/dani.jpg">
            </ion-thumbnail>
            <ion-label>Daniella Quintus</ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="../../assets/heloisa.jpg">
            </ion-thumbnail>
            <ion-label>Heloísa Pedroso</ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="../../assets/turma.jpg">
            </ion-thumbnail>
            <ion-label>Turma: 201</ion-label>
          </ion-item>
        </ion-list>
        <div padding>
          <ion-button size="large" href="/home" expand="block" color="success">Voltar ao menu Principal
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>