<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title >{{descCategoria}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card style="background-color: white">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-img src="{{pergunta.pathImg}}">
              </ion-img>
            </ion-card-subtitle>
            <ion-card-title>Adivinha o Bicho</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{pergunta.description}}
          </ion-card-content>
        </ion-card>

        <ion-card style="background-color: white">
          <ion-card-header>
            <ion-card-title>Qual é o animal da imagem</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size-xs="12" size-sm="6" size-lg="3" *ngFor="let data of pergunta.animals; let i = index">
                  <ion-button fill="solid" [color]="(i == btnErrado) ? 'danger' : 'success'" expand="block" (click)="responder(data,i)"
                    style="font-weight: bold;">
                    <ion-icon slot="start" name="add"></ion-icon>
                    {{data}}
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>